<h2>Chat Room</h2>

<div id="messages">
    <% messages.forEach(msg=> { %>
        <p><strong>
                <%= msg.username %>
            </strong>: <%= msg.text %> <small>(<%= msg.sent_datetime %>)</small></p>
        <% }); %>
</div>
<form action="/logout" method="GET">
    <button type="submit" class="btn">Logout</button>
</form>
<!-- Message input -->
<form action="/send-message/<%= room_id %>" method="POST">
    <textarea name="message" required></textarea>
    <button type="submit">Send</button>
</form>