<h2>All Chat Rooms</h2>

<% if (rooms && rooms.length> 0) { %>
    <ul>
        <% rooms.forEach(room=> { %>
            <li><a href="/chat/<%= room.room_id %>">
                    <%= room.name %>
                </a></li>
            <% }); %>
    </ul>
    <% } else { %>
        <p>No chat rooms available.</p>
        <% } %>