<h1>Welcome, <%= username %>!</h1>

<h2>All Chat Groups</h2>
<form action="/logout" method="GET">
    <button type="submit" class="btn">Logout</button>
</form>
<% if (chatGroups && chatGroups.length> 0) { %>
    <ul>
        <% chatGroups.forEach(group=> { %>
            <li>
                <%= group.name %> -
                    <a href="/chat/<%= group.room_id %>">View Chat</a>
                    <% if (user_id) { %> <!-- Check if user is logged in -->
                        <form action="/join-chat/<%= group.room_id %>" method="POST">
                            <button type="submit">Join Chat</button>
                        </form>
                        <% } %>
            </li>
            <% }) %>
    </ul>
    <% } else { %>
        <p>No chats available</p>
        <% } %>